@model IEnumerable<Vu_Victoria_HW3.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index" asp-controller="Home" method="get">
 <p class="form-group">
 Search: <input name="SearchString" class="form-control"/><br/>
 <button type="submit" class="btn btn-primary">Search</button>
 <a asp-action="DetailedSearch" class="btn btn-success">Detailed Search</a>
 <a asp-action="Index" class="btn btn-danger">Show All</a>
 </p>
</form>

<div>
    Displaying @ViewBag.SelectedMovies out of @ViewBag.AllMovies Movies
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IMDBID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteAverage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre.GenreName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IMDBID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoteAverage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>
            
             <td>
                <a asp-action="Details" asp-route-id="@item.MovieID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
